<!DOCTYPE html>
{% load tailwind_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="w-5/6  mx-auto h-screen flex justify-center items-center">
      <a href="{% url 'subscribe:google'%}"  style="cursor: pointer" class="bg-blue-500 mr-20 rounded-md px-3 py-2 text-white font-bold hover:bg-blue-800">Google Play</a>
      <a href="{% url 'subscribe:app-store'%}"   style="cursor: pointer" class="bg-blue-500 rounded-md px-3 py-2 text-white font-bold hover:bg-blue-800">App store</a>
    </div>
</body>
</html>