:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FD5E5E;
    --txt-primary: #FF7171;
    --txt-secondary: #696767;
    --border-radius: 6px;
}

#privacy-header {
    color: var(--txt-primary);
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
}

.privacy-content {
    line-height: 1.6rem;

}

.privacy-content p {
    margin:1rem 0;
}

@media screen and (max-width:700px) {
    #privacy-header {
        font-size: 1rem;
    }
}