:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FD5E5E;
    --txt-primary: #FF7171;
    --txt-secondary: #696767;
    --border-radius: 5px;
    --success: 	#42ba96;
    --backgroun-success: rgba(66, 186, 150, 0.09);
    --danger: #df4759;
    --info:  	#467fd0;
} 

.form-body .form-control .form-data {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-content: space-between;
}
.form-body .form-control label {
    font-size: 1.2rem;
    color: var(--txt-secondary);
    font-weight: bold;
}

/* .form-body .form-control input {
    font-family:italic;
} */

.form-body .form-control .form-data #message {
    /* resize: none; */
    resize: vertical;
    height: 200px;
    padding: 1rem;
    font-size: 1.2rem;
    border:1px solid gray;
    border-radius: var(--border-radius);
}

.form-body .form-control .form-data textarea::placeholder {
    font-style: italic;
    font-family: sans-serif
}
.form-body .form-control .form-data textarea:focus {
    outline: none;
}
