:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FD5E5E;
    --txt-primary: #FF7171;
    --txt-secondary: #696767;
    --border-radius: 6px;
}

#terms-header {
    color: var(--txt-primary);
    text-align: center;
    margin: 1rem 0;
    font-size: 1.4rem;

}

/* .terms-content {
    line-height: 1.6rem;

} */

.terms-content .content-item {
    margin: 1rem 0;
} 

.terms-content .content-item ul {
    list-style-type: circle;
    padding: 1rem 2rem;
   
}

.terms-content .content-item > div {
    padding: 1rem;
}


.terms-content .content-item h4{

    margin-top: 0.4rem;
}

.terms-content .content-item h4 + p {
    margin-top: -1rem;
}

.terms-content .content-item h3 {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 700px) {
    #terms-header {
        font-size: 1rem;
    }
}