:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FD5E5E;
    --txt-primary: #FF7171;
    --txt-secondary: #696767;
    --border-radius: 5px;
    --success: 	#42ba96;
    --backgroun-success: rgba(66, 186, 150, 0.09);
    --danger: #df4759;
    --info:  	#467fd0;
} 


.form-body {
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    /* border: 1px solid gray; */
}

.subscribe-header{
    text-align: center;
    margin-top:1rem;
    color: var(--txt-primary);
}

.form-body input {
    width: 100%;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    padding: 0.6rem 1rem;
    border-radius: var(--border-radius);
    border: 1px solid gray;
    font-style: italic;
}

.form-body .countries button{
    width: 100%;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    border-radius: var(--border-radius);
    border: 1px solid gray;
}

.form-body .countries button span {
    color: var(--txt-secondary);
}

.form-body .countries button span span {
    color: black;
}

.form-body .input-info {
    color: gray;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 0.3rem;
    font-size: 14px;

}

.form-body input:focus {
    outline: none;
}

.form-body input:placeholder{
    color: var(--txt-secondary);
}

.form-body .subscribe-btn {
    width: 100%;
    margin-top: 1rem;
    font-size:1.3rem;
    background-color: var(--bg-secondary);
    color: white;
    border: none;
    cursor: pointer;
}

.form-body .subscribe-btn:hover {
    filter: brightness(80%);
}


@media screen and (max-width:1000px) {
    .form-body {
        width: 70%;
    }
    
}

@media screen and (max-width:700px) {
    .form-body {
        width: 80%;
    }
    .form-body .input-info {
        font-size: 11px;
        padding: 0;
    }
}

@media screen and (max-width:507px) {
    .form-body {
        width: 90%;
    }
}