@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700;800;900&display=swap');


*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --bg-primary: #FFFFFF;
  --bg-secondary: #FD5E5E;
  --txt-primary: #FF7171;
  --txt-secondary: #696767;
  --border-radius: 5px;
  --success: 	#42ba96;
  --background-success: rgba(66, 186, 150, 0.09);
  --background-danger: rgb(217, 83, 79, 0.09);
  --danger: #df4759;
  --info:  	#467fd0;
}  

body{
  font-family: 'Roboto Slab', serif;
  background-color: var(--bg-primary);
  /* position: relative; */
}


a {
  color: var(--txt-primary);
  text-decoration: none;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.message {
  text-align: center;
  margin-top: 1rem;
  font-size: 10px;
  padding: 0.3rem 0;
  /* width: 30%; */
  margin-bottom: 0.5rem;
  color: var(--txt-secondary);
  font-weight: bold;
  
}

.success {
  border: 1.5px solid var(--success);
  background-color: var(--background-success);
  border-radius: var(--border-radius);
}

.danger {
  border: 1.5px solid var(--danger);
  background-color: var(--background-danger);
  border-radius: var(--border-radius);
}

/* .footer{
  margin-top: 5rem;
  padding: 1rem;
  background-color: var(--txt-secondary);
  height: 200px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
} */

input{
  font-style: italic;
}
input:disabled {
  background-color: rgb(248, 248, 248);
}

:root {
  --main-color: #111;
  --loader-color: #4CAF50;
  --back-color: #A5D6A7;
  --time: 3s;
  --size: 3px;
}

.loader {
  overflow: hidden;
  height: var(--size);
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: flex-start;  
    z-index: 100000;
}

.loader__element {
    width: 100%;
    background: var(--back-color);

}

.loader__element:before {
    content: '';
    display: block;
    background-color: var(--loader-color);
    height: var(--size);
    width: 0;
  animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
    100% { width: 100%; }
}




@media screen and (max-width:600px) {
  .container {
    width: 96%;
    margin: 0 auto;
  }

  .btn {
    border: 1px solid rgb(187, 187, 187);
    /* padding: 0.2rem 8rem; */
    border-radius: var(--border-radius);
    font-size: 12px;
  }

}

