:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FD5E5E;
    --txt-primary: #FF7171;
    --txt-secondary: #696767;
    --border-radius: 6px;
}


.platform {
    margin-top: 1rem;
    
}

.platform .title {
    text-align: center;
    font-size: 1.3rem;
    color: var(--txt-primary);
    position: relative;

}

.platform .platform-container {
    display:flex;
    /* text-align: center; */
    width: 80%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
}

.platform .platform-container .platform-item{
    border: 1px solid var(--txt-primary);
    border-radius: var(--border-radius);
    padding: 1rem 2rem;
    display: flex;
    margin-left: 1rem;
    cursor: pointer;
    width: 250px;
    color: var(--txt-secondary);
    font-size: 1.2rem;
    transition: 200ms ease-in;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
}


.platform .platform-container .platform-item span {
    margin-top: 0.3rem;
    margin-left: 0.5rem;
}

.platform .platform-container .platform-item:hover {
    background-color: var(--bg-secondary);
    color: white;
    border-color: var(--txt-primary);
}

.platform .platform-container .platform-item:hover svg {
    fill: white;
}

@media screen and (max-width:900px) {
    .platform .platform-container {
        width:90%;
    }
}

@media screen and (max-width:570px) {
    .platform .platform-container {
        display: block;
        width: 100%;
    }
    .platform .platform-container .platform-item {
        width: 100%;
        margin: 0;
        margin: 2rem 0;
    }
    .platform .title {
        text-align: center;
        font-size: 1rem;
    }
}