:root {
    --bg-primary: #FFFFFF;
    --bg-secondary: #FD5E5E;
    --txt-primary: #FF7171;
    --txt-secondary: #696767;
    --border-radius: 5px;
    --success: 	#42ba96;
    --backgroun-success: rgba(66, 186, 150, 0.09);
    --danger: #df4759;
    --info: #467fd0;
} 

ul{
    list-style: none;
    padding: 0;
    margin:0;
}
  

footer {
    width: 100%;
    min-height: 100px;
    background-color:#f7f7f7;
    margin-top: auto;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    /* margin-top: 3rem; */
    /* justify-content: space-around; */
}

footer .content {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: var(--txt-secondary);

}

footer .content ul {
    display: flex;
    justify-content: space-between;
}

footer .content ul li {
    position: relative;
    font-weight: bold;
}

/* 
footer .content ul li::after {
    content: "";
    position: absolute;
    top:0;
    right: -20px;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: var(--txt-secondary);
} */
/* footer .content  */


@media screen and (max-width:1079px) {
    footer .content {
        width: 60%;
    }
} 

@media screen and (max-width:800px) {
    footer .content {
        width: 70%;
    }
} 

@media screen and (max-width:600px) {
    footer .content {
        width: 90%;
    }
} 


@media screen and (max-width:520px) {
    footer .content {
        width: 100%;
        text-align: center;
    }

    footer .content ul {
        flex-direction: column;
    }
    footer .content ul li {
        margin: 0.5rem 0;
    }
    footer {
        padding:0;
    }
} 